.homeDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100vh;
}

.homeDivInfo {
  width: 50%;
  padding: 5em;
  color: white;
}
.homeDivInfo > h1 {
  font-size: 50px;
}
.homeDivSvg {
  width: 50%;
}
.homeDivSvg > img {
  max-height: 80vh;
}

.homeDivInfoVoteBtn {
  background-color: #f0f3f6;
  color: #a3268e;
  align-items: center;
  text-decoration: none;
  margin: 10px;
  padding: 20px 50px;
  border-radius: 100px;
  z-index: 2;
  box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.8);
}
.homeDivInfoVoteBtn:hover {
  cursor: pointer;
}

.countDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 20px;
}

.countDivCol {
  text-align: center;
}

.countDivCol > p {
  font-size: 24px;
}

@media screen and (max-width: 768px) {
  .homeDiv {
    flex-direction: column;
  }
  .homeDivSvg > img {
    max-height: 50vh;
  }
  .homeDivInfo {
    width: 90%;
    text-align: center;
  }
}
