.voteDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 100vh;
}

.voteDivInfo {
  width: 40%;
  padding: 5em;
  color: white;
}
.voteDivInfo > h1 {
  font-size: 40px;
}

.voteDivInfoVoteBtn {
  background-color: #f0f3f6;
  color: #a3268e;
  align-items: center;
  text-decoration: none;
  margin: 10px;
  padding: 20px 50px;
  border-radius: 100px;
  z-index: 2;
  box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.8);
}
.voteDivInfoVoteBtn:hover {
  cursor: pointer;
}

.voteDivForms {
  width: 60%;
}

.voteDivFormsContainer {
  max-width: 80%;
  background-color: white;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.profileLogoutBtn {
  padding: 3% 10%;
  border-radius: 20px;
  color: tomato;
  text-decoration: none;
  font-weight: bold;
  background-color: #f0f3f6;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: none;
  box-shadow: 8px 8px 8px #746f6f75;
}

.profileLogoutBtn:hover {
  cursor: pointer;
  background-color: tomato;
  color: white;
}

@media screen and (max-width: 768px) {
  .voteDiv {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0;
  }
  .voteDivInfo {
    width: 90%;
    text-align: center;
  }
  .voteDivForms {
    width: 90%;
    margin-left: 0;
    margin-right: 0;
  }
  .voteDivFormsContainer {
    min-width: 100%;
  }
}
