.loginFormDiv {
  width: 100%;
  padding: 2em;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.loginFormHeader {
  font-size: 30px;
  text-align: center;
}

.loginFormBtnContainer {
  width: 100%;
  text-align: center;
}

.loginFormBtnContainer > a {
  text-decoration: none;
}

.loginFormNeoButton {
  text-decoration: none;
  color: #666666;
  font-weight: bold;
  margin: 10%;
  padding: 5%;
  background-color: #f0f3f6;
  box-shadow: 8px 8px 8px #746f6f75;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}
